**Introduction to SQL and Advanced
Functions:**

1.  Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.

**ANSWER:** In SQL, commands are categorized into different sub-languages based on their function. Think of it this way: DDL builds the house, DML moves the furniture in, and DQL lets you look through the windows.

I. DDL (Data Definition Language):

DDL is used to define or modify the structure (schema) of the database. These commands deal with the containers (tables, indexes, databases) rather than the data inside them.

- Key Characteristic: Most DDL changes are permanent and cannot be "undone" easily (they are auto-committed).

- Common Commands: CREATE, ALTER, DROP, TRUNCATE.

Example: Creating a table for a library.

In [ ]:
CREATE TABLE Books (
    BookID int,
    Title varchar(255),
    Author varchar(255));

II. DML (Data Manipulation Language):

DML is used to manage the data within the schema objects. Once the table structure exists, DML allows you to add, change, or remove the actual records.

- Key Characteristic: DML changes can often be rolled back (undone) before they are committed to the database.

- Common Commands: INSERT, UPDATE, DELETE.

Example: Adding a new book record into the table we just created.

In [ ]:
INSERT INTO Books (BookID, Title, Author)
VALUES (1, 'The Great Gatsby', 'F. Scott Fitzgerald');

III. DQL (Data Query Language):

DQL is used exclusively for fetching or retrieving data. While some categorize SELECT under DML, it is technically DQL because its only purpose is to find and display data without changing it.

- Key Characteristic: It is the most frequently used command for generating reports and viewing information.

- Common Commands: SELECT.

Example: Finding all books written by a specific author.

In [ ]:
SELECT Title FROM Books WHERE Author = 'F. Scott Fitzgerald';

2. What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.  

**ANSWER:** The primary purpose of SQL constraints is to enforce data integrity. They act as a set of rules applied to a table’s columns to ensure that the data entered into the database is accurate, reliable, and consistent. By preventing "bad" data from being saved, constraints maintain the quality of the information throughout its lifecycle.

3 Common SQL Constraints:

I. NOT NULL:

This constraint ensures that a column cannot have a NULL (empty) value. It forces a field to always contain a value, which is essential for mandatory information.

The Scenario: Imagine you are building a User Profiles table. You would apply the NOT NULL constraint to the username and email columns. You wouldn't want a user to successfully register without providing these two pieces of vital information.

II. UNIQUE:

The UNIQUE constraint ensures that all values in a column are different from one another. This prevents duplicate entries in specific fields while allowing the rest of the row's data to be similar.

The Scenario: In an Employee database, while two people might share the same name (e.g., "John Smith"), they should never share the same Social Security Number or Employee ID. Applying a UNIQUE constraint to the SSN column ensures that no two employees can be assigned the same identification number.

III. FOREIGN KEY:

A FOREIGN KEY is a field in one table that refers to the PRIMARY KEY in another table. Its purpose is to maintain referential integrity by ensuring that a relationship between two tables remains valid.

The Scenario: Suppose you have a Customers table and an Orders table. The Orders table would have a CustomerID column. By making this a FOREIGN KEY linked to the Customers table, the database prevents anyone from creating an order for a customer who doesn't actually exist in your system.

3.   Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page has 10 records?

**ANSWER:**

- Difference between LIMIT and OFFSET in SQL:

i. LIMIT:

LIMIT specifies how many rows to return in the result set.

It controls the maximum number of records.

In [ ]:
SELECT * FROM employees
LIMIT 10;

ii. OFFSET:

OFFSET specifies how many rows to skip before starting to return rows.

It is mainly used for pagination.

In [ ]:
SELECT * FROM employees
OFFSET 20;

Using LIMIT and OFFSET Together (Pagination):

When used together:

OFFSET skips records

LIMIT controls how many records are returned after skipping

In [ ]:
SELECT * FROM table_name
LIMIT number_of_rows OFFSET number_of_rows_to_skip;

Retrieving the 3rd page of results (10 records per page):

Page size = 10 records

Page number = 3

Rows to skip = (page_number − 1) × page_size

Rows to skip = (3 − 1) × 10 = 20

In [ ]:
SELECT * FROM table_name
LIMIT 10 OFFSET 20;

4.  What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.

**ANSWER:** A Common Table Expression (CTE) is a temporary, named result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement.

Think of a CTE as a "temporary view" that exists only for the duration of a single query. It allows you to break down complex logic into smaller, more manageable blocks.

- How It Works:

A CTE is defined using the WITH keyword followed by the expression name and the query itself. Once defined, you can treat it just like a regular table within your main query.

In [ ]:
WITH CTE_Name AS (
    -- Your subquery logic here
    SELECT column1, column2
    FROM TableName
)
SELECT * FROM CTE_Name; -- Use it like a table

- Main Benefits of Using CTEs:

i. Readability: CTEs allow you to read a query from top to bottom (linearly) rather than "inside-out," which is common with nested subqueries.

ii. Reusability: You can reference the same CTE multiple times within the same statement, preventing you from writing the same logic twice.

iii. Recursion: CTEs support Recursive Queries, which are essential for querying hierarchical data like organizational charts or bill-of-materials.

iv. Organization: They act as "code blocks," making it much easier for other developers (or your future self) to maintain and debug the SQL.

- Practical Example:

Imagine you have a sales table, and you want to find all employees whose total sales are higher than the average sales of the company.

In [ ]:
-- Define the CTE
WITH EmployeeSales AS (
    SELECT
        EmployeeID,
        SUM(TotalAmount) AS TotalSales
    FROM Sales
    GROUP BY EmployeeID
)

-- Use the CTE in the main query
SELECT
    EmployeeID,
    TotalSales
FROM EmployeeSales
WHERE TotalSales > (SELECT AVG(TotalSales) FROM EmployeeSales);

In this example, the EmployeeSales CTE calculates the totals first. We then reference it twice: once to get the TotalSales per person and once to calculate the AVG.

5.  Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).

**ANSWER:** SQL Normalization is the process of organizing data in a database to reduce redundancy and improve data integrity. Essentially, it involves decomposing large, complex tables into smaller, well-structured ones and defining relationships between them.

The primary goals of normalization are:

Eliminating Redundant Data: Storing the same piece of information in multiple places wastes space and leads to inconsistencies.

Ensuring Data Dependencies: Ensuring that data is stored logically (e.g., a customer's address should be linked to a Customer ID, not a specific Order ID).

Preventing Anomalies: Avoiding issues when inserting, updating, or deleting data (for example, losing a customer's details just because you deleted their only order).

- The First Three Normal Forms:

Database normalization follows a series of "forms." To reach a higher level, the database must first satisfy all the requirements of the levels below it.

1. First Normal Form (1NF):

For a table to be in 1NF, it must meet these basic rules:

- Atomic Values: Each column must contain only single, indivisible values (no lists or comma-separated strings).

- Unique Rows: Each record must be unique, usually identified by a Primary Key.

- No Repeating Groups: You shouldn't have columns like Phone1, Phone2, and Phone3.

2. Second Normal Form (2NF):

To achieve 2NF, a table must already be in 1NF and meet one additional criteria:

- Full Functional Dependency: All non-key columns must depend on the entire primary key.

- This is mostly relevant for tables with "composite keys" (keys made of two or more columns). If a column depends on only part of that composite key, it must be moved to a separate table.

3. Third Normal Form (3NF):

To achieve 3NF, the table must be in 2NF and meet this rule:

- No Transitive Dependencies: Non-key columns should not depend on other non-key columns.

- Essentially, every column should depend "on the key, the whole key, and nothing but the key." If Column A determines Column B, and Column B is not the primary key, Column B needs its own table.

6. Create a database named ECommerceDB and perform the following
tasks:

1.Create the following tables with appropriate data types and constraints:

● Categories

○ CategoryID (INT, PRIMARY KEY)

○ CategoryName (VARCHAR(50), NOT NULL, UNIQUE)

● Products

○ ProductID (INT, PRIMARY KEY)

○ ProductName (VARCHAR(100), NOT NULL, UNIQUE)

○ CategoryID (INT, FOREIGN KEY → Categories)

○ Price (DECIMAL(10,2), NOT NULL)

○ StockQuantity (INT)

● Customers

○ CustomerID (INT, PRIMARY KEY)

○ CustomerName (VARCHAR(100), NOT NULL)

○ Email (VARCHAR(100), UNIQUE)

○ JoinDate (DATE)

● Orders

○ OrderID (INT, PRIMARY KEY)

○ CustomerID (INT, FOREIGN KEY → Customers)

○ OrderDate (DATE, NOT NULL)

○ TotalAmount (DECIMAL(10,2))

2.Insert the following records into each table  

**ANSWER:** To set up your ECommerceDB database, I have provided the SQL scripts below. These include the schema creation with all necessary constraints (Primary Keys, Foreign Keys, and Uniqueness) and the data insertion based on the images you provided.

1. Database and Table Creation:

In [ ]:
-- Create the database
CREATE DATABASE ECommerceDB;
USE ECommerceDB;

-- 1. Categories Table
CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

-- 2. Products Table
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

-- 3. Customers Table
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);

-- 4. Orders Table
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

2. Data Insertion:

I have extracted the values from your uploaded tables to ensure the data matches perfectly.

In [ ]:
-- Insert Categories
INSERT INTO Categories (CategoryID, CategoryName) VALUES
(1, 'Electronics'),
(2, 'Books'),
(3, 'Home Goods'),
(4, 'Apparel');

-- Insert Products
INSERT INTO Products (ProductID, ProductName, CategoryID, Price, StockQuantity) VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel : The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

-- Insert Customers
INSERT INTO Customers (CustomerID, CustomerName, Email, JoinDate) VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

-- Insert Orders
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 2, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);

7. Generate a report showing CustomerName, Email, and the TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results by CustomerName.

**ANSWER:** To generate this report, you will need to use a LEFT JOIN between your Customers table and your Orders table. This ensures that customers who haven't placed an order are still included in the list.

The COALESCE or IFNULL function is used to turn the "NULL" value (which occurs for customers with no matches in the Order table) into a 0.

In [ ]:
SELECT
    c.CustomerName,
    c.Email,
    COUNT(o.OrderID) AS TotalNumberofOrders
FROM Customers c
LEFT JOIN Orders o
    ON c.CustomerID = o.CustomerID
GROUP BY
    c.CustomerName,
    c.Email
ORDER BY
    c.CustomerName;

- Components of the Logic:

i. LEFT JOIN: This is the most critical part. A standard INNER JOIN would automatically hide any customer who doesn't have a corresponding row in the Orders table. The LEFT JOIN keeps all records from the "Left" table (Customers).

ii. COUNT(o.OrderID): By counting a specific column from the Orders table (like the Primary Key) instead of using COUNT(*), the database will return 0 for customers with no orders, because the OrderID will be NULL for those rows.

iii. GROUP BY: We group by the unique identifier (CustomerID) and the fields we want to display to ensure the count is calculated per person.

8. Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically.

**ANSWER:** To retrieve product information alongside its category name, you typically need to perform a JOIN between a Products table and a Categories table.

Assuming your database uses a common schema where CategoryID is the linking key, here is the SQL query:

In [ ]:
SELECT
    p.ProductName,
    p.Price,
    p.StockQuantity,
    c.CategoryName
FROM
    Products p
JOIN
    Categories c ON p.CategoryID = c.CategoryID
ORDER BY
    c.CategoryName ASC,
    p.ProductName ASC;

- Components of the Query:JOIN (or INNER JOIN): This combines rows from both tables where the CategoryID matches. This ensures you only see products that are assigned to a valid category.

I. JOIN (or INNER JOIN): This combines rows from both tables where the CategoryID matches. This ensures you only see products that are assigned to a valid category.

II. Aliases (p and c): These are shorthand names for the tables to make the query easier to read and write.

III. ORDER BY:

The first criteria is CategoryName, grouping all similar items together.

The second criteria is ProductName, which sorts the items alphabetically within those groups.

- Potential Variations:

Missing Categories: If you have products that might not have a category assigned but you still want to see them, use a LEFT JOIN instead.

Database Specifics: While the syntax above works for MySQL, PostgreSQL, SQL Server, and Oracle, some older systems might require slightly different syntax for joins, though the standard JOIN is almost universally accepted.

9. Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.

**ANSWER:** Below is a standard SQL solution using a CTE and the ROW_NUMBER() window function to get the top 2 most expensive products in each category.

- Assumed Tables:

Categories(CategoryID, CategoryName)

Products(ProductID, ProductName, CategoryID, Price)

In [ ]:
WITH RankedProducts AS (
    SELECT
        c.CategoryName,
        p.ProductName,
        p.Price,
        ROW_NUMBER() OVER (
            PARTITION BY c.CategoryName
            ORDER BY p.Price DESC
        ) AS rn
    FROM Products p
    JOIN Categories c
        ON p.CategoryID = c.CategoryID
)
SELECT
    CategoryName,
    ProductName,
    Price
FROM RankedProducts
WHERE rn <= 2
ORDER BY CategoryName, Price DESC;

- CTE (RankedProducts)

i. Groups products by CategoryName

ii. Ranks products within each category by Price (highest first)

- ROW_NUMBER()

i. Assigns a unique rank per product within each category

- WHERE rn <= 2

i. Filters only the top 2 most expensive products per category

10. You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.

Using the Sakila database, answer the following business questions to support key strategic initiatives.

Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.

**ANSWER:**

Since the Sakila database is a standard relational schema, these queries use joins across the customer, payment, rental, inventory, and film tables to get the insights you need.

1. Top 5 Customers by Spending:

To identify our most valuable customers, we join the customer table with the payment table.

In [ ]:
SELECT
    c.first_name || ' ' || c.last_name AS customer_name,
    c.email,
    SUM(p.amount) AS total_spent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY total_spent DESC
LIMIT 5;

2. Top 3 Movie Categories by Popularity:

This helps the marketing team understand which genres drive the most foot traffic. We bridge the category table to rental through the film_category and inventory tables.

In [ ]:
SELECT
    cat.name AS category_name,
    COUNT(r.rental_id) AS rental_count
FROM category cat
JOIN film_category fc ON cat.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY cat.name
ORDER BY rental_count DESC
LIMIT 3;

3. Inventory Availability & "Shelf Warmers":

This query uses a LEFT JOIN to find inventory items that don't have a corresponding record in the rental table (meaning they've never been rented).

In [ ]:
SELECT
    i.store_id,
    COUNT(i.inventory_id) AS total_films,
    SUM(CASE WHEN r.rental_id IS NULL THEN 1 ELSE 0 END) AS never_rented
FROM inventory i
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY i.store_id;

4. 2023 Monthly Revenue (Seasonality):

By extracting the month from the payment date, we can visualize the peaks and valleys of the business throughout the year.

In [ ]:
SELECT
    EXTRACT(MONTH FROM payment_date) AS month,
    SUM(amount) AS total_revenue
FROM payment
WHERE payment_date BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY month
ORDER BY month;

5. High-Frequency Customers (Recent Activity):

This identifies loyal, active users who might be good candidates for a "Frequent Renter" loyalty program.

In [ ]:
SELECT
    c.first_name,
    c.last_name,
    c.email,
    COUNT(r.rental_id) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
WHERE r.rental_date >= CURRENT_DATE - INTERVAL '6 months'
GROUP BY c.customer_id
HAVING COUNT(r.rental_id) > 10;

- Takeaways for Management:

I. Revenue Concentration: The Top 5 customers are often a small percentage of the total but provide a steady revenue stream.

II. Inventory Efficiency: Store managers should look at the "never rented" films; it might be time to swap that stock for higher-performing categories (identified in Task 2).

III. Engagement: Customers renting more than 10 times in 6 months are "Power Users" and should be prioritized for marketing outreach.